@import 'home.scss';
@import 'result.scss';

html, body {
	height: 100%;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	transition: all ease .2s;
	.detail {
		padding-top: 75px;
		padding-bottom: 50px;
		background: #EDF0F1;
		.topo {
			background: #00B7CE;
			border-bottom: 5px solid #03A1B5;
			text-align: center;
			position: fixed;
			width: 100%;
			top: 0;
			.logo {
				width: 40px;
				height: 40px;
				margin: 0 15px;
				vertical-align: middle;
				display: inline-block;
				background-image: url('../img/logo.png');
				background-size: cover;
			}
			.search-bar {
				padding: 10px 0;
				display: inline-block;
			}
		}
		.info {
			width: 760px;
			margin: 0 auto;
			padding: 20px;
			background: #FFF;
			border-bottom: 2px solid #E4E4E4;
			border-radius: 5px;
			color: #969696;
			h3, p {
				margin: 0;
			}
			h3 {
				margin-bottom: 15px;
				font-size: 16px;
			}
			p {
				font-size: 12px;
			}
			.services {
				h4 {
					font-size: 14px;
				}
				ul {
					list-style: none;
					padding: 0;
				}
			}
		}
	}
}

.service {
	display: inline-block;
	font-size: 9px;
	padding: 5px 10px;
	margin: 2px;
	background: #926FB5;
	color: white;
	border-radius: 5px;
	transition: all ease .3s;
	&:hover {
		background: darken(#926FB5, 10%);
	}
	a {
		color: #FFF;
	}
	
	&.others {
		background: #E4E4E4;
		a {
			color: #797979;
		}
		&:hover {
			background: darken(#E4E4E4, 10%);
		}
	}
}

.hide {
	display: none;
}

.ms-input.search {
	background: rgba(255,255,255,0.90);
	outline: none;
	padding: 12px 10px 12px;
	width: 300px;
	border-radius: 5px;
	box-shadow: none;
	color: #888888;
	border: none;
	font-weight: bold;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.ms-btn {
	background: #11828e;
	cursor: pointer;
	font-weight: bold;
	color: white;
	border: none;
	font-size: 12px;
	text-decoration: none;
	padding: 13px;
	margin-left: -10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: all ease .2s;
	&:hover {
		background: #006873;
	}
}

$bg: #1c2e40;
$bg-light: #00bcd1;
$fg: #43dff1;

.loader {
	background: rgba(255, 255, 255, 0.7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
		height: 25px;
		width: 10px;
		border-radius: 10%;
		background: $bg-light;
		border-top-color: $fg;
		animation: fade2 1s infinite;
		transition: background .2s;
		&:after, &:before {
			content: '';
			position: absolute;
			display: block;
			height: 20px;
			width: 10px;
			background: $bg-light;
			top: 50%;
			transform: translateY(-50%);
			left: -15px;
			border-radius: 10%;
			animation: fade1 1s infinite;
			transition: background .2s;
		}
		&:before { left: 15px; animation: fade3 1s infinite; }
	}
}

@keyframes fade1 {	0% { background: $fg; } }
@keyframes fade2 {	33% { background: $fg; } }
@keyframes fade3 {	66% { background: $fg; } }