@import 'home.scss';
@import 'result.scss';

html, body {
	height: 100%;
  font-size: 100%;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	transition: all ease .2s;
}
.ms-input.search {
	background: rgba(255,255,255,0.90);
	outline: none;
	padding: 12px 10px 12px;
	width: 300px;
  height: 35px;
  padding: 10px;
	font-weight: bold;
  background: rgba(255,255,255, .90);
  border: none;
  border-radius: 5px;
	box-shadow: none;
  box-sizing: border-box;
	color: #888888;
	border: none;
	font-weight: bold;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

  @media (max-width: 420px) {
    width: 220px;
  }

  &:focus {
    outline: 0;
  }
}
.ms-btn {
	background: #11828e;
	cursor: pointer;
	font-weight: bold;
	color: white;
	border: none;
	font-size: 12px;
	text-decoration: none;
	padding: 13px;
	margin-left: -10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: all ease .2s;
	&:hover {
		background: #006873;
	}
}