html, body {
  height: 100%; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }
  body .flex-container.home {
    height: 100%;
    min-height: 100%;
    display: flex;
    color: #FFF;
    background-image: url("../img/bg.png");
    background-size: contain;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30vh;
    box-sizing: border-box; }
    body .flex-container.home img {
      width: 150px;
      height: 150px;
      padding: 20px; }
  body .result {
    min-height: 100vh;
    padding-top: 65px;
    padding-bottom: 20px;
    background: #EDF0F1;
    box-sizing: border-box; }
    body .result .topo {
      background: #00B7CE;
      border-bottom: 5px solid #03A1B5;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 0; }
      body .result .topo .logo {
        width: 40px;
        height: 40px;
        margin: 0 15px;
        vertical-align: middle;
        display: inline-block;
        background-image: url("../img/logo.png");
        background-size: cover; }
      body .result .topo .search-bar {
        padding: 10px 0;
        display: inline-block; }
    body .result .search-result header {
      text-align: center;
      font-size: 12px;
      color: #ADC0C3;
      margin: 10px 0; }
      body .result .search-result header .result-type {
        display: inline-flex;
        vertical-align: middle; }
        body .result .search-result header .result-type input[type="radio"] {
          width: 11px; }
    body .result .search-result .content {
      width: 760px;
      margin: 0 auto; }
      body .result .search-result .content .card {
        display: block;
        margin: 10px 0; }
        body .result .search-result .content .card .info {
          padding: 20px;
          background: #F9F9F9;
          border-bottom: 2px solid #E4E4E4;
          border-radius: 5px;
          color: #969696;
          transition: all ease .3s; }
          body .result .search-result .content .card .info p, body .result .search-result .content .card .info h3 {
            margin: 5px; }
          body .result .search-result .content .card .info h3 {
            font-size: 16px; }
          body .result .search-result .content .card .info p {
            font-size: 12px; }
        body .result .search-result .content .card:hover .info {
          color: #67969C;
          background: #FDFDFD; }
    body .result .ms-input.search {
      padding: 11px; }
  body .detail {
    padding-top: 75px;
    background: #EDF0F1;
    height: 100%; }
    body .detail .topo {
      background: #00B7CE;
      border-bottom: 5px solid #03A1B5;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 0; }
      body .detail .topo .logo {
        width: 40px;
        height: 40px;
        margin: 0 15px;
        vertical-align: middle;
        display: inline-block;
        background-image: url("../img/logo.png");
        background-size: cover; }
      body .detail .topo .search-bar {
        padding: 10px 0;
        display: inline-block; }
    body .detail .info {
      width: 760px;
      margin: 0 auto;
      padding: 20px;
      background: #FFF;
      border-bottom: 2px solid #E4E4E4;
      border-radius: 5px;
      color: #969696; }
      body .detail .info h3, body .detail .info p {
        margin: 0; }
      body .detail .info h3 {
        margin-bottom: 15px;
        font-size: 16px; }
      body .detail .info p {
        font-size: 12px; }
      body .detail .info .services h4 {
        font-size: 14px; }
      body .detail .info .services ul {
        list-style: none;
        padding: 0; }
        body .detail .info .services ul li {
          display: inline-block;
          font-size: 9px;
          padding: 5px 10px;
          margin: 2px;
          background: #926FB5;
          color: white;
          border-radius: 5px;
          transition: all ease .3s; }
          body .detail .info .services ul li:hover {
            background: #79529f; }
          body .detail .info .services ul li a {
            color: #FFF; }

.ms-input.search {
  background: rgba(255, 255, 255, 0.9);
  padding: 9px 10px 10px;
  width: 300px;
  border-radius: 5px;
  box-shadow: none;
  color: #888888;
  border: none;
  font-weight: bold; }

.ms-btn {
  background: #ADC0C3;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
  margin-left: -10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all ease .2s; }
  .ms-btn:hover {
    background: #CAD8DA; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImh0bWwsIGJvZHkge1xyXG5cdGhlaWdodDogMTAwJTtcclxufVxyXG5cclxuYSB7XHJcblx0dGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59XHJcblxyXG5ib2R5IHtcclxuXHRtYXJnaW46IDA7XHJcblx0cGFkZGluZzogMDtcclxuXHRmb250LWZhbWlseTogJ09wZW4gU2FucycsIHNhbnMtc2VyaWY7XHJcblx0LmZsZXgtY29udGFpbmVyLmhvbWUge1xyXG5cdFx0aGVpZ2h0OiAxMDAlO1xyXG5cdFx0bWluLWhlaWdodDogMTAwJTtcclxuXHRcdGRpc3BsYXk6IGZsZXg7XHJcblx0XHRjb2xvcjogI0ZGRjtcclxuXHRcdGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltZy9iZy5wbmdcIik7XHJcblx0XHRiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XHJcblx0XHRqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuXHRcdGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblx0XHRmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgcGFkZGluZy1ib3R0b206IDMwdmg7XHJcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG5cdFx0aW1nIHtcclxuXHRcdFx0d2lkdGg6IDE1MHB4O1xyXG5cdFx0XHRoZWlnaHQ6IDE1MHB4O1xyXG5cdFx0XHRwYWRkaW5nOiAyMHB4O1xyXG5cdFx0fVxyXG5cdH1cclxuXHJcblx0LnJlc3VsdCB7XHJcbiAgICBtaW4taGVpZ2h0OiAxMDB2aDtcclxuXHRcdHBhZGRpbmctdG9wOiA2NXB4O1xyXG4gICAgcGFkZGluZy1ib3R0b206IDIwcHg7XHJcblx0XHRiYWNrZ3JvdW5kOiAjRURGMEYxO1xyXG4gICAgYm94LXNpemluZzogYm9yZGVyLWJveDtcclxuXHRcdC50b3BvIHtcclxuXHRcdFx0YmFja2dyb3VuZDogIzAwQjdDRTtcclxuXHRcdFx0Ym9yZGVyLWJvdHRvbTogNXB4IHNvbGlkICMwM0ExQjU7XHJcblx0XHRcdHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHRcdFx0cG9zaXRpb246IGZpeGVkO1xyXG5cdFx0XHR3aWR0aDogMTAwJTtcclxuXHRcdFx0dG9wOiAwO1xyXG5cdFx0XHQubG9nbyB7XHJcblx0XHRcdFx0d2lkdGg6IDQwcHg7XHJcblx0XHRcdFx0aGVpZ2h0OiA0MHB4O1xyXG5cdFx0XHRcdG1hcmdpbjogMCAxNXB4O1xyXG5cdFx0XHRcdHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XHJcblx0XHRcdFx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG5cdFx0XHRcdGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2xvZ28ucG5nJyk7XHJcblx0XHRcdFx0YmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuXHRcdFx0fVxyXG5cdFx0XHQuc2VhcmNoLWJhciB7XHJcblx0XHRcdFx0cGFkZGluZzogMTBweCAwO1xyXG5cdFx0XHRcdGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdFx0LnNlYXJjaC1yZXN1bHQge1xyXG5cdFx0XHRoZWFkZXIge1xyXG5cdFx0XHRcdHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHRcdFx0XHRmb250LXNpemU6IDEycHg7XHJcblx0XHRcdFx0Y29sb3I6ICNBREMwQzM7XHJcblx0XHRcdFx0bWFyZ2luOiAxMHB4IDA7XHJcblx0XHRcdFx0LnJlc3VsdC10eXBlIHtcclxuXHRcdFx0XHRcdGRpc3BsYXk6IGlubGluZS1mbGV4O1xyXG5cdFx0XHRcdFx0dmVydGljYWwtYWxpZ246IG1pZGRsZTtcclxuXHRcdFx0XHRcdGlucHV0W3R5cGU9XCJyYWRpb1wiXSB7XHJcblx0XHRcdFx0XHRcdHdpZHRoOiAxMXB4O1xyXG5cdFx0XHRcdFx0fVxyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cclxuXHRcdFx0LmNvbnRlbnQge1xyXG5cdFx0XHRcdHdpZHRoOiA3NjBweDtcclxuXHRcdFx0XHRtYXJnaW46IDAgYXV0bztcclxuXHRcdFx0XHQuY2FyZCB7XHJcblx0XHRcdFx0XHRkaXNwbGF5OiBibG9jaztcclxuXHRcdFx0XHRcdG1hcmdpbjogMTBweCAwO1xyXG5cdFx0XHRcdFx0LmluZm8ge1xyXG5cdFx0XHRcdFx0XHRwYWRkaW5nOiAyMHB4O1xyXG5cdFx0XHRcdFx0XHRiYWNrZ3JvdW5kOiAjRjlGOUY5O1xyXG5cdFx0XHRcdFx0XHRib3JkZXItYm90dG9tOiAycHggc29saWQgI0U0RTRFNDtcclxuXHRcdFx0XHRcdFx0Ym9yZGVyLXJhZGl1czogNXB4O1xyXG5cdFx0XHRcdFx0XHRjb2xvcjogIzk2OTY5NjtcclxuXHRcdFx0XHRcdFx0dHJhbnNpdGlvbjogYWxsIGVhc2UgLjNzO1xyXG5cdFx0XHRcdFx0XHRwLCBoMyB7XHJcblx0XHRcdFx0XHRcdFx0bWFyZ2luOiA1cHg7XHJcblx0XHRcdFx0XHRcdH1cclxuXHRcdFx0XHRcdFx0aDMge1xyXG5cdFx0XHRcdFx0XHRcdGZvbnQtc2l6ZTogMTZweDtcclxuXHRcdFx0XHRcdFx0fVxyXG5cdFx0XHRcdFx0XHRwIHtcclxuXHRcdFx0XHRcdFx0XHRmb250LXNpemU6IDEycHg7XHJcblx0XHRcdFx0XHRcdH1cclxuXHRcdFx0XHRcdH1cclxuXHRcdFx0XHRcdCY6aG92ZXIge1xyXG5cdFx0XHRcdFx0XHQuaW5mbyB7XHJcblx0XHRcdFx0XHRcdFx0Y29sb3I6ICM2Nzk2OUM7XHJcblx0XHRcdFx0XHRcdFx0YmFja2dyb3VuZDogI0ZERkRGRDtcclxuXHRcdFx0XHRcdFx0fVxyXG5cdFx0XHRcdFx0fVxyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdFx0Lm1zLWlucHV0LnNlYXJjaCB7XHJcblx0XHRcdHBhZGRpbmc6IDExcHg7XHJcblx0XHR9XHJcblx0fVxyXG5cclxuXHQuZGV0YWlsIHtcclxuXHRcdHBhZGRpbmctdG9wOiA3NXB4O1xyXG5cdFx0YmFja2dyb3VuZDogI0VERjBGMTtcclxuXHRcdGhlaWdodDogMTAwJTtcclxuXHRcdC50b3BvIHtcclxuXHRcdFx0YmFja2dyb3VuZDogIzAwQjdDRTtcclxuXHRcdFx0Ym9yZGVyLWJvdHRvbTogNXB4IHNvbGlkICMwM0ExQjU7XHJcblx0XHRcdHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHRcdFx0cG9zaXRpb246IGZpeGVkO1xyXG5cdFx0XHR3aWR0aDogMTAwJTtcclxuXHRcdFx0dG9wOiAwO1xyXG5cdFx0XHQubG9nbyB7XHJcblx0XHRcdFx0d2lkdGg6IDQwcHg7XHJcblx0XHRcdFx0aGVpZ2h0OiA0MHB4O1xyXG5cdFx0XHRcdG1hcmdpbjogMCAxNXB4O1xyXG5cdFx0XHRcdHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XHJcblx0XHRcdFx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG5cdFx0XHRcdGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2xvZ28ucG5nJyk7XHJcblx0XHRcdFx0YmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuXHRcdFx0fVxyXG5cdFx0XHQuc2VhcmNoLWJhciB7XHJcblx0XHRcdFx0cGFkZGluZzogMTBweCAwO1xyXG5cdFx0XHRcdGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdFx0LmluZm8ge1xyXG5cdFx0XHR3aWR0aDogNzYwcHg7XHJcblx0XHRcdG1hcmdpbjogMCBhdXRvO1xyXG5cdFx0XHRwYWRkaW5nOiAyMHB4O1xyXG5cdFx0XHRiYWNrZ3JvdW5kOiAjRkZGO1xyXG5cdFx0XHRib3JkZXItYm90dG9tOiAycHggc29saWQgI0U0RTRFNDtcclxuXHRcdFx0Ym9yZGVyLXJhZGl1czogNXB4O1xyXG5cdFx0XHRjb2xvcjogIzk2OTY5NjtcclxuXHRcdFx0aDMsIHAge1xyXG5cdFx0XHRcdG1hcmdpbjogMDtcclxuXHRcdFx0fVxyXG5cdFx0XHRoMyB7XHJcblx0XHRcdFx0bWFyZ2luLWJvdHRvbTogMTVweDtcclxuXHRcdFx0XHRmb250LXNpemU6IDE2cHg7XHJcblx0XHRcdH1cclxuXHRcdFx0cCB7XHJcblx0XHRcdFx0Zm9udC1zaXplOiAxMnB4O1xyXG5cdFx0XHR9XHJcblx0XHRcdC5zZXJ2aWNlcyB7XHJcblx0XHRcdFx0aDQge1xyXG5cdFx0XHRcdFx0Zm9udC1zaXplOiAxNHB4O1xyXG5cdFx0XHRcdH1cclxuXHRcdFx0XHR1bCB7XHJcblx0XHRcdFx0XHRsaXN0LXN0eWxlOiBub25lO1xyXG5cdFx0XHRcdFx0cGFkZGluZzogMDtcclxuXHRcdFx0XHRcdGxpIHtcclxuXHRcdFx0XHRcdFx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG5cdFx0XHRcdFx0XHRmb250LXNpemU6IDlweDtcclxuXHRcdFx0XHRcdFx0cGFkZGluZzogNXB4IDEwcHg7XHJcblx0XHRcdFx0XHRcdG1hcmdpbjogMnB4O1xyXG5cdFx0XHRcdFx0XHRiYWNrZ3JvdW5kOiAjOTI2RkI1O1xyXG5cdFx0XHRcdFx0XHRjb2xvcjogd2hpdGU7XHJcblx0XHRcdFx0XHRcdGJvcmRlci1yYWRpdXM6IDVweDtcclxuXHRcdFx0XHRcdFx0dHJhbnNpdGlvbjogYWxsIGVhc2UgLjNzO1xyXG5cdFx0XHRcdFx0XHQmOmhvdmVyIHtcclxuXHRcdFx0XHRcdFx0XHRiYWNrZ3JvdW5kOiBkYXJrZW4oIzkyNkZCNSwgMTAlKTtcclxuXHRcdFx0XHRcdFx0fVxyXG5cdFx0XHRcdFx0XHRhIHtcclxuXHRcdFx0XHRcdFx0XHRjb2xvcjogI0ZGRjtcclxuXHRcdFx0XHRcdFx0fVxyXG5cdFx0XHRcdFx0fVxyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxufVxyXG5cclxuLm1zLWlucHV0LnNlYXJjaCB7XHJcblx0YmFja2dyb3VuZDogcmdiYSgyNTUsMjU1LDI1NSwwLjkwKTtcclxuXHRwYWRkaW5nOiA5cHggMTBweCAxMHB4O1xyXG5cdHdpZHRoOiAzMDBweDtcclxuXHRib3JkZXItcmFkaXVzOiA1cHg7XHJcblx0Ym94LXNoYWRvdzogbm9uZTtcclxuXHRjb2xvcjogIzg4ODg4ODtcclxuXHRib3JkZXI6IG5vbmU7XHJcblx0Zm9udC13ZWlnaHQ6IGJvbGQ7XHJcbn1cclxuLm1zLWJ0biB7XHJcblx0YmFja2dyb3VuZDogI0FEQzBDMztcclxuXHRmb250LXdlaWdodDogYm9sZDtcclxuXHRjb2xvcjogd2hpdGU7XHJcblx0Ym9yZGVyOiBub25lO1xyXG5cdGZvbnQtc2l6ZTogMTJweDtcclxuXHR0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcblx0cGFkZGluZzogMTBweDtcclxuXHRtYXJnaW4tbGVmdDogLTEwcHg7XHJcblx0Ym9yZGVyLXRvcC1yaWdodC1yYWRpdXM6IDVweDtcclxuXHRib3JkZXItYm90dG9tLXJpZ2h0LXJhZGl1czogNXB4O1xyXG5cdHRyYW5zaXRpb246IGFsbCBlYXNlIC4ycztcclxuXHQmOmhvdmVyIHtcclxuXHRcdGJhY2tncm91bmQ6ICNDQUQ4REE7XHJcblx0fVxyXG59XHJcbiJdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxJQUFJLEVBQUUsQUFBQSxJQUFJLENBQUM7RUFDVixNQUFNLEVBQUUsSUFBSyxHQUNiOztBQUVELEFBQUEsQ0FBQyxDQUFDO0VBQ0QsZUFBZSxFQUFFLElBQUssR0FDdEI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFDSixNQUFNLEVBQUUsQ0FBRTtFQUNWLE9BQU8sRUFBRSxDQUFFO0VBQ1gsV0FBVyxFQUFFLHVCQUF3QixHQXlLckM7RUE1S0QsQUFJZ0IsSUFKWixDQUlILGVBQWUsQUFBQSxLQUFLLENBQUM7SUFDcEIsTUFBTSxFQUFFLElBQUs7SUFDYixVQUFVLEVBQUUsSUFBSztJQUNqQixPQUFPLEVBQUUsSUFBSztJQUNkLEtBQUssRUFBRSxJQUFLO0lBQ1osZ0JBQWdCLEVBQUUsb0JBQUc7SUFDckIsZUFBZSxFQUFFLE9BQVE7SUFDekIsZUFBZSxFQUFFLE1BQU87SUFDeEIsV0FBVyxFQUFFLE1BQU87SUFDcEIsY0FBYyxFQUFFLE1BQU87SUFDckIsY0FBYyxFQUFFLElBQUs7SUFDckIsVUFBVSxFQUFFLFVBQVcsR0FNekI7SUFyQkYsQUFnQkUsSUFoQkUsQ0FJSCxlQUFlLEFBQUEsS0FBSyxDQVluQixHQUFHLENBQUM7TUFDSCxLQUFLLEVBQUUsS0FBTTtNQUNiLE1BQU0sRUFBRSxLQUFNO01BQ2QsT0FBTyxFQUFFLElBQUssR0FDZDtFQXBCSCxBQXVCQyxJQXZCRyxDQXVCSCxPQUFPLENBQUM7SUFDTCxVQUFVLEVBQUUsS0FBTTtJQUNwQixXQUFXLEVBQUUsSUFBSztJQUNoQixjQUFjLEVBQUUsSUFBSztJQUN2QixVQUFVLEVBQUUsT0FBUTtJQUNsQixVQUFVLEVBQUUsVUFBVyxHQXdFekI7SUFwR0YsQUE2QkUsSUE3QkUsQ0F1QkgsT0FBTyxDQU1OLEtBQUssQ0FBQztNQUNMLFVBQVUsRUFBRSxPQUFRO01BQ3BCLGFBQWEsRUFBRSxpQkFBa0I7TUFDakMsVUFBVSxFQUFFLE1BQU87TUFDbkIsUUFBUSxFQUFFLEtBQU07TUFDaEIsS0FBSyxFQUFFLElBQUs7TUFDWixHQUFHLEVBQUUsQ0FBRSxHQWNQO01BakRILEFBb0NHLElBcENDLENBdUJILE9BQU8sQ0FNTixLQUFLLENBT0osS0FBSyxDQUFDO1FBQ0wsS0FBSyxFQUFFLElBQUs7UUFDWixNQUFNLEVBQUUsSUFBSztRQUNiLE1BQU0sRUFBRSxNQUFPO1FBQ2YsY0FBYyxFQUFFLE1BQU87UUFDdkIsT0FBTyxFQUFFLFlBQWE7UUFDdEIsZ0JBQWdCLEVBQUUsc0JBQUc7UUFDckIsZUFBZSxFQUFFLEtBQU0sR0FDdkI7TUE1Q0osQUE2Q0csSUE3Q0MsQ0F1QkgsT0FBTyxDQU1OLEtBQUssQ0FnQkosV0FBVyxDQUFDO1FBQ1gsT0FBTyxFQUFFLE1BQU87UUFDaEIsT0FBTyxFQUFFLFlBQWEsR0FDdEI7SUFoREosQUFtREcsSUFuREMsQ0F1QkgsT0FBTyxDQTJCTixjQUFjLENBQ2IsTUFBTSxDQUFDO01BQ04sVUFBVSxFQUFFLE1BQU87TUFDbkIsU0FBUyxFQUFFLElBQUs7TUFDaEIsS0FBSyxFQUFFLE9BQVE7TUFDZixNQUFNLEVBQUUsTUFBTyxHQVFmO01BL0RKLEFBd0RJLElBeERBLENBdUJILE9BQU8sQ0EyQk4sY0FBYyxDQUNiLE1BQU0sQ0FLTCxZQUFZLENBQUM7UUFDWixPQUFPLEVBQUUsV0FBWTtRQUNyQixjQUFjLEVBQUUsTUFBTyxHQUl2QjtRQTlETCxBQTJEdUIsSUEzRG5CLENBdUJILE9BQU8sQ0EyQk4sY0FBYyxDQUNiLE1BQU0sQ0FLTCxZQUFZLENBR1gsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLE9BQU8sQUFBWixFQUFjO1VBQ25CLEtBQUssRUFBRSxJQUFLLEdBQ1o7SUE3RE4sQUFpRUcsSUFqRUMsQ0F1QkgsT0FBTyxDQTJCTixjQUFjLENBZWIsUUFBUSxDQUFDO01BQ1IsS0FBSyxFQUFFLEtBQU07TUFDYixNQUFNLEVBQUUsTUFBTyxHQTRCZjtNQS9GSixBQW9FSSxJQXBFQSxDQXVCSCxPQUFPLENBMkJOLGNBQWMsQ0FlYixRQUFRLENBR1AsS0FBSyxDQUFDO1FBQ0wsT0FBTyxFQUFFLEtBQU07UUFDZixNQUFNLEVBQUUsTUFBTyxHQXdCZjtRQTlGTCxBQXVFSyxJQXZFRCxDQXVCSCxPQUFPLENBMkJOLGNBQWMsQ0FlYixRQUFRLENBR1AsS0FBSyxDQUdKLEtBQUssQ0FBQztVQUNMLE9BQU8sRUFBRSxJQUFLO1VBQ2QsVUFBVSxFQUFFLE9BQVE7VUFDcEIsYUFBYSxFQUFFLGlCQUFrQjtVQUNqQyxhQUFhLEVBQUUsR0FBSTtVQUNuQixLQUFLLEVBQUUsT0FBUTtVQUNmLFVBQVUsRUFBRSxZQUFhLEdBVXpCO1VBdkZOLEFBOEVNLElBOUVGLENBdUJILE9BQU8sQ0EyQk4sY0FBYyxDQWViLFFBQVEsQ0FHUCxLQUFLLENBR0osS0FBSyxDQU9KLENBQUMsRUE5RVAsQUE4RVMsSUE5RUwsQ0F1QkgsT0FBTyxDQTJCTixjQUFjLENBZWIsUUFBUSxDQUdQLEtBQUssQ0FHSixLQUFLLENBT0QsRUFBRSxDQUFDO1lBQ0wsTUFBTSxFQUFFLEdBQUksR0FDWjtVQWhGUCxBQWlGTSxJQWpGRixDQXVCSCxPQUFPLENBMkJOLGNBQWMsQ0FlYixRQUFRLENBR1AsS0FBSyxDQUdKLEtBQUssQ0FVSixFQUFFLENBQUM7WUFDRixTQUFTLEVBQUUsSUFBSyxHQUNoQjtVQW5GUCxBQW9GTSxJQXBGRixDQXVCSCxPQUFPLENBMkJOLGNBQWMsQ0FlYixRQUFRLENBR1AsS0FBSyxDQUdKLEtBQUssQ0FhSixDQUFDLENBQUM7WUFDRCxTQUFTLEVBQUUsSUFBSyxHQUNoQjtRQXRGUCxBQXlGTSxJQXpGRixDQXVCSCxPQUFPLENBMkJOLGNBQWMsQ0FlYixRQUFRLENBR1AsS0FBSyxBQW9CSCxNQUFNLENBQ04sS0FBSyxDQUFDO1VBQ0wsS0FBSyxFQUFFLE9BQVE7VUFDZixVQUFVLEVBQUUsT0FBUSxHQUNwQjtJQTVGUCxBQWlHVyxJQWpHUCxDQXVCSCxPQUFPLENBMEVOLFNBQVMsQUFBQSxPQUFPLENBQUM7TUFDaEIsT0FBTyxFQUFFLElBQUssR0FDZDtFQW5HSCxBQXNHQyxJQXRHRyxDQXNHSCxPQUFPLENBQUM7SUFDUCxXQUFXLEVBQUUsSUFBSztJQUNsQixVQUFVLEVBQUUsT0FBUTtJQUNwQixNQUFNLEVBQUUsSUFBSyxHQWtFYjtJQTNLRixBQTBHRSxJQTFHRSxDQXNHSCxPQUFPLENBSU4sS0FBSyxDQUFDO01BQ0wsVUFBVSxFQUFFLE9BQVE7TUFDcEIsYUFBYSxFQUFFLGlCQUFrQjtNQUNqQyxVQUFVLEVBQUUsTUFBTztNQUNuQixRQUFRLEVBQUUsS0FBTTtNQUNoQixLQUFLLEVBQUUsSUFBSztNQUNaLEdBQUcsRUFBRSxDQUFFLEdBY1A7TUE5SEgsQUFpSEcsSUFqSEMsQ0FzR0gsT0FBTyxDQUlOLEtBQUssQ0FPSixLQUFLLENBQUM7UUFDTCxLQUFLLEVBQUUsSUFBSztRQUNaLE1BQU0sRUFBRSxJQUFLO1FBQ2IsTUFBTSxFQUFFLE1BQU87UUFDZixjQUFjLEVBQUUsTUFBTztRQUN2QixPQUFPLEVBQUUsWUFBYTtRQUN0QixnQkFBZ0IsRUFBRSxzQkFBRztRQUNyQixlQUFlLEVBQUUsS0FBTSxHQUN2QjtNQXpISixBQTBIRyxJQTFIQyxDQXNHSCxPQUFPLENBSU4sS0FBSyxDQWdCSixXQUFXLENBQUM7UUFDWCxPQUFPLEVBQUUsTUFBTztRQUNoQixPQUFPLEVBQUUsWUFBYSxHQUN0QjtJQTdISixBQStIRSxJQS9IRSxDQXNHSCxPQUFPLENBeUJOLEtBQUssQ0FBQztNQUNMLEtBQUssRUFBRSxLQUFNO01BQ2IsTUFBTSxFQUFFLE1BQU87TUFDZixPQUFPLEVBQUUsSUFBSztNQUNkLFVBQVUsRUFBRSxJQUFLO01BQ2pCLGFBQWEsRUFBRSxpQkFBa0I7TUFDakMsYUFBYSxFQUFFLEdBQUk7TUFDbkIsS0FBSyxFQUFFLE9BQVEsR0FvQ2Y7TUExS0gsQUF1SUcsSUF2SUMsQ0FzR0gsT0FBTyxDQXlCTixLQUFLLENBUUosRUFBRSxFQXZJTCxBQXVJTyxJQXZJSCxDQXNHSCxPQUFPLENBeUJOLEtBQUssQ0FRQSxDQUFDLENBQUM7UUFDTCxNQUFNLEVBQUUsQ0FBRSxHQUNWO01BeklKLEFBMElHLElBMUlDLENBc0dILE9BQU8sQ0F5Qk4sS0FBSyxDQVdKLEVBQUUsQ0FBQztRQUNGLGFBQWEsRUFBRSxJQUFLO1FBQ3BCLFNBQVMsRUFBRSxJQUFLLEdBQ2hCO01BN0lKLEFBOElHLElBOUlDLENBc0dILE9BQU8sQ0F5Qk4sS0FBSyxDQWVKLENBQUMsQ0FBQztRQUNELFNBQVMsRUFBRSxJQUFLLEdBQ2hCO01BaEpKLEFBa0pJLElBbEpBLENBc0dILE9BQU8sQ0F5Qk4sS0FBSyxDQWtCSixTQUFTLENBQ1IsRUFBRSxDQUFDO1FBQ0YsU0FBUyxFQUFFLElBQUssR0FDaEI7TUFwSkwsQUFxSkksSUFySkEsQ0FzR0gsT0FBTyxDQXlCTixLQUFLLENBa0JKLFNBQVMsQ0FJUixFQUFFLENBQUM7UUFDRixVQUFVLEVBQUUsSUFBSztRQUNqQixPQUFPLEVBQUUsQ0FBRSxHQWlCWDtRQXhLTCxBQXdKSyxJQXhKRCxDQXNHSCxPQUFPLENBeUJOLEtBQUssQ0FrQkosU0FBUyxDQUlSLEVBQUUsQ0FHRCxFQUFFLENBQUM7VUFDRixPQUFPLEVBQUUsWUFBYTtVQUN0QixTQUFTLEVBQUUsR0FBSTtVQUNmLE9BQU8sRUFBRSxRQUFTO1VBQ2xCLE1BQU0sRUFBRSxHQUFJO1VBQ1osVUFBVSxFQUFFLE9BQVE7VUFDcEIsS0FBSyxFQUFFLEtBQU07VUFDYixhQUFhLEVBQUUsR0FBSTtVQUNuQixVQUFVLEVBQUUsWUFBYSxHQU96QjtVQXZLTixBQXdKSyxJQXhKRCxDQXNHSCxPQUFPLENBeUJOLEtBQUssQ0FrQkosU0FBUyxDQUlSLEVBQUUsQ0FHRCxFQUFFLEFBU0EsTUFBTSxDQUFDO1lBQ1AsVUFBVSxFQUFFLE9BQU0sR0FDbEI7VUFuS1AsQUFvS00sSUFwS0YsQ0FzR0gsT0FBTyxDQXlCTixLQUFLLENBa0JKLFNBQVMsQ0FJUixFQUFFLENBR0QsRUFBRSxDQVlELENBQUMsQ0FBQztZQUNELEtBQUssRUFBRSxJQUFLLEdBQ1o7O0FBUVAsQUFBUyxTQUFBLEFBQUEsT0FBTyxDQUFDO0VBQ2hCLFVBQVUsRUFBRSx3QkFBSTtFQUNoQixPQUFPLEVBQUUsYUFBYztFQUN2QixLQUFLLEVBQUUsS0FBTTtFQUNiLGFBQWEsRUFBRSxHQUFJO0VBQ25CLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLEtBQUssRUFBRSxPQUFRO0VBQ2YsTUFBTSxFQUFFLElBQUs7RUFDYixXQUFXLEVBQUUsSUFBSyxHQUNsQjs7QUFDRCxBQUFBLE9BQU8sQ0FBQztFQUNQLFVBQVUsRUFBRSxPQUFRO0VBQ3BCLFdBQVcsRUFBRSxJQUFLO0VBQ2xCLEtBQUssRUFBRSxLQUFNO0VBQ2IsTUFBTSxFQUFFLElBQUs7RUFDYixTQUFTLEVBQUUsSUFBSztFQUNoQixlQUFlLEVBQUUsSUFBSztFQUN0QixPQUFPLEVBQUUsSUFBSztFQUNkLFdBQVcsRUFBRSxLQUFNO0VBQ25CLHVCQUF1QixFQUFFLEdBQUk7RUFDN0IsMEJBQTBCLEVBQUUsR0FBSTtFQUNoQyxVQUFVLEVBQUUsWUFBYSxHQUl6QjtFQWZELEFBQUEsT0FBTyxBQVlMLE1BQU0sQ0FBQztJQUNQLFVBQVUsRUFBRSxPQUFRLEdBQ3BCIiwibmFtZXMiOltdfQ== */
