html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-image: url("../img/bg.png");
	background-size: contain;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	.flex-container {
		height: 100%;
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
    padding-bottom: 50%;
    box-sizing: border-box;
		img {
			width: 150px;
			height: 150px;
			padding: 20px;
		}
		input[type="text"] {
			background: rgba(255,255,255,0.90);
			padding: 10px;
			width: 300px;
			border-radius: 5px;
			box-shadow: none;
			color: #888888;
			border: none;
			font-weight: bold;
		}
		.ms-btn {
			background: #ADC0C3;
			font-weight: bold;
			color: white;
			border: none;
			padding: 10px;
			margin-left: -8px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
