<div class="detail">
    <div class="topo">
        <div class="logo"></div>
        <div class="search-bar">
            <input type="text" class="ms-input search" name="keyword" ng-model="keyword" placeholder="Palavra-chave" required>
            <a href="" class="ms-btn" ng-click="c.submitForm()" ng-disabled="searchForm.$invalid">Buscar</a>
        </div>
    </div>
    <div class="info">
        <h3>Nome da Unidade</h3>
        <p>Endereço: Av. Psodapsdoa Dsa sdsaos</p>
        <p>Telefone: (71) 3333-3333</p>
    </div>
    <div class="services">
        <h2>Serviços</h2>
        
    </div>
</div>