<div class="detail">
    <div class="topo">
        <a class="logo" ui-sref="home"></a>
        <div class="search-bar">
            <form name="searchForm" ng-submit="unidadeDetalheCtrl.submitForm()">
                <input type="text" class="ms-input search" name="keyword" ng-model="unidadeDetalheCtrl.keywords" placeholder="Palavra-chave" required>
                <button type="submit" class="ms-btn"
                    ng-disabled="searchForm.$invalid">
                    Buscar
                </button>
            </form>
        </div>
    </div>
    <div class="info" ng-if="unidadeDetalheCtrl.establishment">
        <h3>{{ unidadeDetalheCtrl.establishment.nomeFantasia }}</h3>
        <p>Endereço: {{ unidadeDetalheCtrl.endereco(unidadeDetalheCtrl.establishment) }}</p>
        <p>Telefone: {{ unidadeDetalheCtrl.establishment.nuTelefone }}</p>

        <div class="services">
            <h4>Serviços especializados</h4>
            <ul>
                <li class="service"
                    ng-repeat="s in unidadeDetalheCtrl.establishment.servicosEspecializados">
                    <a ng-href="#/unidades?q={{s.dsServico}}">{{ s.dsServico }}</a>
                </li>
            </ul>
            
            <h4>Outros serviços</h4>
            <ul>
                <li class="service others"
                    ng-repeat="s in unidadeDetalheCtrl.establishment.servicosClassificacao">
                    <a ng-href="#/unidades?q={{s.dsServico}}">{{ s.dsServico }}</a>
                </li>
            </ul>
        </div>

        <iframe
        width="760"
        height="300"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAILUIzQlNg45v4udd3sVnF3yeBcDFArY
            &q=RUA%20HENRIQUE%20DIAS,%20241,%2041110000,%20BONFIM,%20SALVADOR,%20BA">
        </iframe>
    </div>
</div>
