<div class="result">
    <div class="topo">
        <a class="logo" ui-sref="home"></a>
        <div class="search-bar">
            <form name="searchForm" ng-submit="unidadeCtrl.submitForm()">
                <input type="text" class="ms-input search" name="keyword" ng-model="unidadeCtrl.keywords" placeholder="Palavra-chave" required>
                <button type="submit" class="ms-btn"
                    ng-disabled="searchForm.$invalid">
                    Buscar
                </button>
            </form>
        </div>
    </div>
    <div class="search-result">
        <header>
            <span>Foram encontrados <strong>{{ unidadeCtrl.establishments.length }}</strong> registros.</span>
            <div class="result-type">
                <input type="radio" name="result_type" id="type_1" value="lsita" checked><label for="type_1"> Lista</label>
                <input type="radio" name="result_type" id="type_2" value="mapa"><label for="type_2"> Mapa</label>
            </div>
        </header>
        <div class="content">
            <a class="card"
                ui-sref="unidadeDetalhes({
                    'descricao': (establishment.unidade | slugify),
                    'bairro': (establishment.obj.endereco.bairro | slugify),
                    'cidade': (establishment.obj.endereco.nomeMunicipio | slugify),
                    'uf': (establishment.obj.endereco.estado | slugify)
                })"
                ng-repeat="establishment in unidadeCtrl.establishments">
                <div class="info">
                    <h3>{{ establishment.unidade }}</h3>
                    <p>{{ unidadeCtrl.endereco(establishment) }}</p>
                    <p>Serviços: Ortopedia, Nutrição, Exames</p>
                    <p>Telefone: {{ establishment.obj.nuTelefone }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
