<div class="modal-header">
  <h4 class="modal-title">Localização</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">+</span>
  </button>
</div>
<div class="modal-body">
  <p>Digite a cidade que deseja buscar serviços e unidades</p>
  <div class="typeahead">
    <input type="text" class="typeahead__input" placeholder="Ex.: Salvador"
          [(ngModel)]="location"
          (selectItem)="setLocation($event.item)"
          [ngbTypeahead]="changeLocation"
          [inputFormatter]="formatLocationResult"
          [resultFormatter]="formatLocationResult" autofocus>
  </div>
</div>
<div class="modal-footer"></div>