.input {
	text-align: center;
	outline: 0;
	display: inline-block;
	min-width: 250px;
	font-weight: 800;
	color: #48b9ce;
	text-decoration: none;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid;
	padding: 0 15px 2px;
	&:disabled {
		border: none;
		background: transparent;
		width: 300px;
	}
}