@import '../variables';

.button {
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 12px;
  transition: all .3s ease;
  cursor: pointer;
  &.button_primary {
    background: $color_primary;
    color: #FFF;
    &:hover {
      background: lighten($color: $color_primary, $amount: 4%);
    }
  }
}