@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/responsive';
@import '../../../assets/styles/mixins/helpers';

.search-form {
	font-size: 14px;
	.input {
		margin: 0 auto;
		min-width: 250px;
	}
}
.input {
	display: block;
	color: $color_primary;
	padding: 15px 10px 10px;
	border: none;
	border-bottom: 1px solid #d8d8d8;
	text-align: center;
	outline: 0;
	transition: all ease .2s;
	letter-spacing: 0.06em;
	@include input-placeholder {
		color: #a5a5a5;
	}
	&:focus {
		padding-left: 25px;
		padding-right: 25px;
		// width: 400px;
	}
}
.search-form__input {
	.required-field {
		background: #ffa3b8;
		margin-top: 10px;
		padding: 10px 30px;
		display: inline-block;
		border-radius: 10px;
		color: #ffffff;
		font-size: 13px;
	}
}

.button {
	font-size: 14px;
	margin: 5px auto 25px;
	padding: 10px 40px;
	font-weight: 100;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}