<form class="search-form">
  <div class="search-form__input">
    <input type="text" class="input" name="term"
           placeholder="Digite um serviço ou unidade"
           autofocus
           [(ngModel)]="searchTerm"
           (keyup.enter)="search()">
    <span class="required-field" *ngIf="showRequiredField">Você precisa digitar algo para iniciar a consulta</span>
  </div>
  <app-select-location></app-select-location>
  <input type="submit" class="button button_primary" (click)="search()" value="Buscar">
</form>

<div class="overlay" *ngIf="showInputLocation" (click)="showInputLocation = false"></div>
<div class="modal modal_location" *ngIf="showInputLocation" >
  <div class="modal__header">
    Digite a cidade que deseja buscar serviços e unidades
  </div>
  <input type="text" class="input" [(ngModel)]="location" (keyup.enter)="changeLocation()">
  <div class="location-cities" *ngIf="availableCities.length > 0">
    <a class="location-city" *ngFor="let city of availableCities" (click)="showInputLocation = false">{{city}}</a>
  </div>
</div>