<form class="search-form">
  <div class="search-form__input">
    <input type="text" class="input" name="term"
           placeholder="Digite um serviço ou unidade"
           autofocus
           [(ngModel)]="searchTerm"
           (keyup.enter)="search()">
    <span class="required-field" *ngIf="showRequiredField">Você precisa digitar algo para iniciar a consulta</span>
  </div>
  <p class="search-form__location">Buscar em: 
    <a class="location-link" (click)="showInputLocation = true">{{location}} <i class="fa fa-caret-down"></i></a>
  </p>
  <input type="submit" class="button button_primary" (click)="search()" value="Buscar">
</form>

<div class="overflow" *ngIf="showInputLocation" (click)="showInputLocation = false"></div>
<div class="location-modal" *ngIf="showInputLocation" >
  <input type="text" class="input" [(ngModel)]="location" (keyup.enter)="changeLocation()">
  <div class="location-cities" *ngIf="availableCities.length > 0">
    <a class="location-city" *ngFor="let city of availableCities" (click)="showInputLocation = false">{{city}}</a>
  </div>
</div>