@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins/responsive';

.home-page {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	text-align: center;
	// background-image: url(/assets/images/bg.png);
	// background-size: contain;
	color: #4d5252;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex-direction: column;
	* {
		transition: all .2s ease;
	}
	.page__content {
		max-width: 600px;
	}
}
.header {
	width: 80%;
	max-width: 960px;
	display: flex;
	align-items: stretch;
	position: absolute;
	top: 0;
	padding: 10px 0;
	@include min-desktop-size {
		padding: 30px 0;
	}
}

.navbar {
	width: 100%;
	text-align: right;
}
.navbar__item {
	list-style: none;
	display: inline-block;
}
.navbar__link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #8c8c8c;
	&:hover {
		text-decoration: underline;
	}
}

.page__content {
	top: 20vh;
	position: absolute;
	@include min-tablet-size {
		width: 100%;
	}
	@include min-desktop-size {
		max-width: 800px;
		top: 15vh;
		width: 100%;
	}
}

.brand {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	svg path {
		fill: $color_primary;
	}
}

.page__title {
	font-weight: 800;
	margin-bottom: 5px;
	font-size: 17px;
	@include min-tablet-size {
		font-weight: 100;
		font-size: 24px;
		margin-bottom: 25px;
	}
	@include min-desktop-size {
		font-size: 30px;
		margin-bottom: 20px;
	}
}

.search-hint {
	font-weight: 300;
	font-size: 12px;
	margin: 15px 0;
	color: #a7a7a7;
	@include min-desktop-size {
		font-size: 13px;
	}
}
.search-hint__item {
	display: block;
	color: #848484;
	padding-top: 10px;
}
.search-hint__link {
	text-decoration: none;
	display: inline-block;
	color: $color_primary;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 400;
	padding: 2px 10px;
	border-radius: 25px;
	margin: 3px;
	border: 1px solid #b9eaf0;
	&:hover {
		background: #6baab1;
		color: #FFF;
		padding: 5px 20px;
		&::after {
			display: none;
		}
	}
}

.search-form .input-term {
	max-width: 300px;
	margin: 0 auto;
}

.page__bottom-bg {
	background-image: url(/assets/images/bg-home.png);
	background-size: contain;
	background-position-x: center;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: -1;
	opacity: .8;
	@include min-desktop-size-and('min-height: 800px') {
		background-position-y: 10px;
		height: 40%;
	}
}